.banner {
    background-image: url(./assets/oliver.jpg);
    height: 700px;
    background-position: center;
    background-size: cover;
}

.modal-backdrop {
    opacity: 0.8 !important;
}


/****************/

.nav-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 8rem;
    transition: 0.5s linear 0.1s;
}

.bg-scroll {
    background-color: #111111e0;
}

.off {
    transform: translateY(-300px);
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.li-dec {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    width: fit-content;
    font-weight: 700;
    display: inline-block;
    position: relative;
    list-style: none;
    text-decoration: none;
}

.li-dec:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(253, 89, 0, 1);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.li-dec:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.li-dec:hover {
    text-decoration: none;
    color: #EEEEEE;
}


/*******segunda row -quienes somos-********/

.us {
    height: 680px;
    padding: 14rem 10rem 5rem 10rem;
}

.img-us {
    width: 560px;
    height: auto;
}

.us-title,
.suc-title {
    color: #444444;
    font-weight: 700;
    padding: 10px;
    font-size: 44px;
    font-family: 'Arvo', serif;
}

.hr-grey {
    opacity: 0.1;
}

.us-p {
    font-size: 16px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.8;
    line-height: 2;
}


/*******tercera row -menu-*********/

.menu-title {
    color: #444444;
    font-weight: 700;
    font-size: 44px;
    font-family: 'Arvo', serif;
}

.menu {
    height: 700px;
}

.title-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9rem 7rem 3rem 7rem;
}

.hr-pink {
    width: 240px;
    color: #ff0081;
    opacity: 1.25;
}

.menu-title,
.suc-title {
    text-align: center;
}

.menu-flex,
.frp-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.bgr-title,
.frp-title {
    color: #444444;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-bottom: 1.5rem;
    font-family: 'Arvo', serif;
}

.bgr-size {
    width: 260px;
    height: auto;
    transition: .3s;
    opacity: 0.55;
    backdrop-filter: blur(0px);
}

.bgr-size:hover {
    opacity: 1;
    cursor: pointer;
    backdrop-filter: none;
    transform: scale(1.05);
}

.hr-pink-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 0rem 3rem 0rem;
    align-items: center;
}


/********cuarta row frappes*****/

.frp {
    padding: 10rem;
}

.suc2 {
    padding: 1rem 10rem;
}

.frp-img {
    width: 310px;
    cursor: pointer;
    transition: .3s;
    opacity: 0.55;
    backdrop-filter: blur(0px);
}

.frp-img:hover {
    opacity: 1;
    cursor: pointer;
    backdrop-filter: none;
    transform: scale(1.05);
}


/*******suc********/

.icn-flex {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: flex-start;
}

.hr-suc-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 7rem 1rem 7rem;
}

.suc2-flex {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.suc2-title {
    color: #444444;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
    font-family: 'Arvo', serif;
}

.suc2-p {
    font-size: 18px;
    color: #444444;
    font-family: 'Poppins', sans-serif;
}


/***********form************/

.contacto {
    height: 690px;
}

.form-control {
    width: 100%;
}

.form-flex {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 6px;
}

.contacto-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.contacto-title {
    color: #444444;
    font-weight: 700;
    font-size: 44px;
    font-family: 'Arvo', serif;
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.container-fluid {
    --bs-gutter-x: 0;
}