.banner {
    background-image: url(./assets/oliver.jpg);
    height: 700px;
    background-position: center;
    background-size: cover;
}


/****************/

.nav-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 8rem;
    background-color: #111111e0;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    cursor: pointer;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.li-dec {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.li-dec:hover {
    text-decoration: 3px underline rgba(253, 89, 0, 1);
}


/*******segunda row -quienes somos-********/

.us {
    height: 680px;
    padding: 14rem 10rem 5rem 10rem;
}

.img-us {
    width: 560px;
    height: auto;
}

.us-title,
.suc-title {
    color: #444444;
    font-weight: 700;
    padding: 10px;
    font-size: 44px;
    font-family: 'Arvo', serif;
}

.hr-grey {
    opacity: 0.1;
}

.us-p {
    font-size: 16px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.8;
}


/*******tercera row -menu-*********/

.menu-title {
    color: #444444;
    font-weight: 700;
    font-size: 44px;
    font-family: 'Arvo', serif;
}

.menu {
    height: 700px;
}

.title-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9rem 7rem 3rem 7rem;
}

.hr-pink {
    width: 240px;
    color: #ff0081;
    opacity: 1.25;
}

.menu-title,
.suc-title {
    text-align: center;
}

.menu-flex,
.frp-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.bgr-title,
.frp-title {
    color: #444444;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-bottom: 1.5rem;
    font-family: 'Arvo', serif;
}

.bgr-size {
    width: 260px;
    height: auto;
    cursor: pointer;
}

.hr-pink-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 0rem 3rem 0rem;
    align-items: center;
}


/********cuarta row frappes*****/

.frp {
    padding: 10rem;
}

.suc2 {
    padding: 1rem 10rem;
}

.frp-img {
    width: 310px;
    cursor: pointer;
}


/*******suc********/

.icn-flex {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: flex-start;
}

.hr-suc-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 7rem 1rem 7rem;
}

.suc2-flex {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.suc2-title {
    color: #444444;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
    font-family: 'Arvo', serif;
}

.suc2-p {
    font-size: 18px;
    color: #444444;
    font-family: 'Poppins', sans-serif;
}


/***********form************/

.contacto {
    height: 690px;
}

.form-control {
    width: 100%;
}

.form-flex {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 6px;
}

.contacto-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.contacto-title {
    color: #444444;
    font-weight: 700;
    font-size: 44px;
    font-family: 'Arvo', serif;
}